node_modules
/bedrock_server/*
!/bedrock_server/vcruntime140_1.dll
!/bedrock_server/dbghelp.dll
/npm-debug.log
/pdbcache_by_example.ini
*.js
!/bdsx/minecraft_impl/enums.js
!/bdsx/minecraft.js
!/bdsx/index.js
!/bdsx/legacy.js
!/bdsx/chat.js
!/bdsx/exehacker.js
!/bdsx/servercontrol.js
!/bdsx/native.js
!/bdsx/netevent.js
!/bdsx/checkgate.js
!/bdsx/asm/asmcode.js
/package-lock.json
/plugin-example/package-lock.json
