node_modules
/bedrock_server/*
!/bedrock_server/vcruntime140_1.dll
!/bedrock_server/dbghelp.dll
/npm-debug.log
/pdbcache_by_example.ini
/package-lock.json
/plugin-example/package-lock.json
**/*.js
!/bdsx/**/*.js

